// Add your own CSS here!
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600&family=Karla:wght@200;400;600;800&family=Montserrat:wght@200;400;600;800&family=Poppins:wght@200;400;600;800&display=swap');

:root {
  --light: #f7f9fc; //background
  --dark: #161b22; //markdown heading
  --secondary: #6a78f5; //link
  --tertiary: #5666f3; //title hover
  --visited: #af7dff; //visited node
  --primary: #f28482; //current node
  --gray: #161b22; //text on page
  --lightgray: #f0f0f0; //ctrl k background
  --lightergray: #f0f0f0BB; //figure background
  --outlinegray: #dadada; // graph outline
  --fumen-background: #dadada40; // fumenbackground
  --strong: #e1503a; //**text** color
  --million-rgbs-bar-color: var(--secondary);
}

[saved-theme="dark"] {
  --light: #0d1117 !important;
  --dark: #c9d1d9 !important;
  --secondary: #647ce0 !important;
  --tertiary: #9cc5fd !important;
  --visited: #4a575e !important;
  --primary: #f58382 !important;
  --gray: #d4d4d4 !important;
  --lightgray: #292633 !important;
  --lightergray: #292633BB !important;
  --outlinegray: #3d3b63 !important;
  --fumen-background: #3d3b6380 !important; // fumenbackground
  --strong: #ff6a67 !important;
}

.Rot180 {
  display: inline-block;
}

.Rot90 {
  display: none;
}

#page-title {
  font-family: var(--font-headest);
  font-weight: 800;
  background-clip: text;
  background-image: linear-gradient(180deg, var(--dark), var(--secondary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

figure, .mino {
  background: var(--lightergray);
  padding: 0px 10px;
  margin: 5px;
  color: var(--gray);
  // outline: 1px solid var(--outlinegray);
  border-radius: 3px;
  display: inline-block;
}

figcaption {
  font-family: var(--font-header);
  font-weight: 600;
  font-size: 16px;
  padding: 5px;
}

strong {
  font-weight: 600;
  color: var(--strong);
}

p > a, li > a {
  text-decoration: underline var(--secondary) solid 2px;
}

figure > img, .credit-section {
  background: var(--fumen-background);
  outline: var(--dark);
  margin: 5px 0 0 0;
  box-shadow: var(--outlinegray) 0px 4px 6px -1px, var(--outlinegray) 0px 2px 4px -1px
}

.mino {
  display: inline-flex;
  padding: 1px;
  margin: 0 2px;
  vertical-align: middle;
  img {
    width: 22px;
    height: 22px;
    padding: 1px;
  }
}

h3 > .mino > img {
  width: 22px;
  height: 22px;
  padding: 2px;
}

.text-logo{
  font-family: var(--font-body);
  font-size: 1.25em;
  font-weight: 800;
}

#header-options{
  display: flex;
  flex-direction: row;
}

// Rotation/Mirror Button SCSS
.rotationmode, .diagram-mirror {
  padding: 0.25em 0.5em;
  min-width: 30px;
  position: relative;

  @media all and (max-width: 450px) {
    padding: 1em;
  }

  & > .toggle {
    display: none;
    box-sizing: border-box;
  }

  & span {
    position: absolute;
    color: var(--gray);
    transition: opacity 0.1s ease;
    cursor: pointer;
  }
}

#mirror-icon {
  transition: all 0.2s ease-in;
  svg {
    fill: var(--dark);
  }
}

.toggle:checked ~ label {
  & > #180Icon {
    opacity: 0;
  }
  & > #90Icon {
    opacity: 1;
  }
  & > #mirror-icon {
    transform: rotate(180deg);
  }
}

.toggle:not(:checked) ~ label {
  & > #180Icon {
    opacity: 1;
  }
  & > #90Icon {
    opacity: 0;
  }
  & > #mirror-icon {
    transform: rotate(0deg);
  }
}

//scroll bar
*::-webkit-scrollbar{
  width: 8px;
  height: 8px;
  margin: 2px;
  opacity: 0.6;
  transition: all 0.2s ease-in;
}

*::-webkit-scrollbar:hover{
  width: 12px;
  height: 12px;
  opacity: 1;
  transition: all 0.2s ease-in;
}

*::-webkit-scrollbar-track{
  background: var(--outlinegray);
}

*::-webkit-scrollbar-thumb{
  background-color: var(--dark);
  border-radius: 2px;
}

summary {
  text-align: left;
  list-style: none;
  cursor: pointer;
  background: var(--lightgray);
  border-radius: 4px;
  margin: -.5em -.5em  0;
  padding: .25em;
}

details {
  color: var(--dark);
  margin: .5em;
  padding: .5em .5em 0;
  font: 1.25em var(--font-header);
  font-weight: 800;
  border: 1px solid var(--outlinegray);
  border-radius: 4px;
}

details summary::after{
  content: '  +';
  font-weight: 600;
}

details[open]{
  padding: .5em;
  & summary{margin-bottom: .5em;}
  & summary::after{content: '  -';}
}

hr.small {
  width: 75%;
  margin: 0.5em auto;
  height: 2px;
  background-color: var(--outlinegray);
}

hr.vertical {
width: 2px;
margin: auto 0.25em;
height: 75%;
background-color: var(--outlinegray);
}

.standard-queuebased-body{
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.25em;
  p{
    padding: 0 1em;
  }
  section{
    width: 100%;
    height: 100%;
    min-height: 270px;
    margin: 0.25em;
    border-radius: 4px;
    box-shadow: var(--outlinegray) 0px 4px 6px -1px, var(--outlinegray) 0px 2px 4px -1px;
  }
  figcaption{
    text-align: left;
  }
}

@media all and (max-width: 1300px) {
  .standard-queuebased-body{
    display: flex;
    flex-direction: column;
  }
}

.standard-queuebased{
  text-align: center;
}

.setup-body{
  padding-top: 0.5em;
  padding-bottom: 0.2em;
  border-radius: 4px;
  box-shadow: var(--outlinegray) 0px 4px 6px -1px, var(--outlinegray) 0px 2px 4px -1px;
}

.setup-display{
  display: grid;
  justify-items: center;
  justify-content: center;
  align-items: center;
  grid-template-columns: minmax(auto, 300px) minmax(auto, 300px) 1.25fr;
  grid-template-areas:
    "setup-image setup-info setup-writeup";
  .setup-image{grid-area: setup-image};
  .setup-info{
    grid-area: setup-info
    table{
      height: auto;
    }
  };
  .setup-writeup{
    grid-area: setup-writeup;
    padding: 0 1em;
  }
  @media all and (max-width: 1200px) {
    grid-template-areas:
      "setup-image setup-info"
      "setup-writeup setup-writeup";
    grid-template-columns: minmax(auto, 300px) minmax(auto, 300px);
  };
}

.credits{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  .credit-section{
    width: 90%;
    padding: 0.25em 1em;
    background: var(--light);
    border-radius: 4px;
  }
  ul{
    padding: 0;
  }
  @media all and (max-width: 1300px) {
    grid-template-columns: 70%;
    justify-content: center;
    .credit-section{
      width: 70%;
    }
  }
}

li{
  list-style-type: none;
}

li::before{
  content: '-';
  font-weight: 600;
  margin: 0 1em 0 0;
}

footer li::before{
  display: none;
}