// Add your own CSS here!
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Karla&family=Montserrat&display=swap');

:root {
  --light: #f7f9fc; //background
  --dark: #161b22; //markdown heading
  --secondary: #6a78f5; //link
  --tertiary: #5666f3; //title hover
  --visited: #af7dff; //visited node
  --primary: #f28482; //current node
  --gray: #161b22; //text on page
  --lightgray: #f0f0f0; //ctrl k background
  --lightergray: #f0f0f0BB; //figure background
  --outlinegray: #dadada; // graph outline
  --fumen-background: #dadada40; // fumenbackground
  --strong: #e1503a; //**text** color
  --million-rgbs-bar-color: var(--secondary);
}

[saved-theme="dark"] {
  --light: #0d1117 !important;
  --dark: #c9d1d9 !important;
  --secondary: #647ce0 !important;
  --tertiary: #9cc5fd !important;
  --visited: #4a575e !important;
  --primary: #f58382 !important;
  --gray: #d4d4d4 !important;
  --lightgray: #292633 !important;
  --lightergray: #292633BB !important;
  --outlinegray: #3d3b63 !important;
  --fumen-background: #3d3b6380 !important; // fumenbackground
  --strong: #ff6a67 !important;
}

.Rot180 {
  display: inline-block;
}

.Rot90 {
  display: none;
}

#page-title {
  background-clip: text;
  background-image: linear-gradient(180deg, var(--dark), var(--secondary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

figure, .mino {
  background: var(--lightergray);
  padding: 0px 5px;
  margin: 5px;
  color: var(--gray);
  // outline: 1px solid var(--outlinegray);
  border-radius: 3px;
}

figcaption {
  font-family: var(--font-header);
  font-weight: 600;
  padding: 5px 5px 0 5px;
}

strong {
  font-weight: 800;
  color: var(--strong);
}

p > a, li > a {
  text-decoration: underline var(--secondary) solid 2px;
}

.fumen {
  font-size: 0;
  margin: 0;
}

.fumen > img {
  background: var(--fumenbackground);
  outline: var(--dark);
  margin: 0;
  padding: 0;
}

.mino {
  display: inline-flex;
  padding: 2px;
  margin: 0 5px;
  vertical-align: middle;
}

.mino > img {
  width: 22px;
  height: 22px;
  padding: 2px;
}

.text-logo{
  font-family: var(--font-body);
  font-size: 20px;
  font-weight: 600;
  display: inline-block;
}

#header-options{
  display: flex;
  flex-direction: row;
}

// Rotation Mode Button SCSS
.rotationmode {
  padding: 0.5em;
  min-width: 30px;
  position: relative;
  text-align: center;

  @media all and (max-width: 450px) {
    padding: 1em;
  }

  & > .toggle {
    display: none;
    box-sizing: border-box;
  }

  & span {
    opacity: 1;
    position: absolute;
    width: 30px;
    height: 20px;
    top: calc(50% - 10px);
    margin: -2px 0 0 -15px;
    color: var(--gray);
    transition: opacity 0.1s ease;
    cursor: pointer;
  }
}

.toggle:checked ~ label {
  & > #180Icon {
    opacity: 0;
  }
  & > #90Icon {
    opacity: 1;
  }
}

.toggle:not(:checked) ~ label {
  & > #180Icon {
    opacity: 1;
  }
  & > #90Icon {
    opacity: 0;
  }
}


//scroll bar
*::-webkit-scrollbar{
  width: 8px;
  height: 8px;
  transition: width 0.2s ease-in;
  transition: height 0.2s ease-in;
}

*::-webkit-scrollbar-track{
  background: var(--outlinegray);
}

*::-webkit-scrollbar-thumb{
  background-color: var(--dark);
  border-radius: 2px;
}

*::-webkit-scrollbar:hover{
  width: 12px;
  height: 12px;
}