// Add your own CSS here!

:root {
  --light: #f7f9fc; //background
  --dark: #161b22; //markdown heading
  --secondary: #4c8cef; //link
  --tertiary: #8fb7f5; //title hover
  --visited: #afbfc9; //visited node
  --primary: #f28482; //current node
  --gray: #161b22; //text on page
  --lightgray: #f0f0f0; //ctrl k background
  --outlinegray: #dadada; // graph outline
  --million-progress-bar-color: var(--secondary);
}

[saved-theme="dark"] {
  --light: #0d1117 !important;
  --dark: #c9d1d9 !important;
  --secondary: #60a2fc !important;
  --tertiary: #9cc5fd !important;
  --visited: #4a575e !important;
  --primary: #f58382 !important;
  --gray: #d4d4d4 !important;
  --lightgray: #292633 !important;
  --outlinegray: #343434 !important;
}

figure {
  background: var(--lightgray);
  border-radius: 10px;
  padding: 0
}

figcaption {
  font-style: "Karla";
  background: var(--lightgray);
  border-radius: 5px
}