<div class="rotationmode">
    <input class="toggle" id="rotationmode-toggle" type="checkbox" tabindex="-1" onchange="switchRotation()">
    <label id="toggle-label-180" for="rotationmode-toggle" tabindex="-1">
        <span id="180icon" class="text-logo" style="opacity: 0;" title = "Turn on 180 rotations. Primarily affects percentages.">180</span>
    </label>
    <label id="toggle-label-90" for="rotationmode-toggle" tabindex="-1">
        <span id="90icon" class="text-logo" style="opacity: 1;" title="Turn off 180 rotations. Primarily affects percentages.">90</span>
    </label>
</div>