<div class="rotationmode">
    <input class="toggle" id="rotationmode-toggle" type="checkbox" tabindex="-1" onchange="switchRotation()">
    <label id="toggle-label-180" for="rotationmode-toggle" tabindex="-1">
        <svg id="180icon" style="opacity: 0;" viewBox="0 0 35 35">
            <title>Turn on 180 rotations. Primarily affects percentages.</title>
            <text class="text-logo" x="-5" y="28">180</text>
        </svg>
    </label>
    <label id="toggle-label-90" for="rotationmode-toggle" tabindex="-1">
        <svg id="90icon" style="opacity: 1;" viewBox="0 0 35 35">
            <title>Turn off 180 rotations. Primarily affects percentages.</title>
            <text class="text-logo" x="0" y="28">90</text>
        </svg>
    </label>
</div>