<section id="solution-finder">
    <div class="solution-finder-body">
        <div class="pc-solution-finder">
            <h2 class="solution-finder-title">Solution Finder</h2>
            <div class="solution-finder-query">
                <div id="solution-finder-display">
                    <h3 class="solution-finder-display-title">Selected Setup</h3>
                    <img class="solution-finder-display-image">
                    <div id="solution-finder-selection-main" class="hidden">
                        <div id="solution-finder-selection-body">
                            <h2 class="solution-finder-selection-title">Setup Selection</h2>
                            <div id="solution-finder-selection"></div>
                        </div>
                    </div>
                </div>
                <div class="solution-finder-input-body">
                    <h3 class="solution-finder-input-title">
                        <span>Input</span>
                        <span class="queue-composition hidden"></span>
                    </h3>
                    <div class="solution-finder-inputs-container">
                        <div class="input-item">
                            <span class="item-title">Queue</span>
                            <textarea class="solution-finder-input" maxlength="7"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div id="solution-finder-outputs"></div>
        </div>
    </div>
</section>